@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --color-dark-bg: rgb(9 9 11);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Regular";
  src: url("/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

body {
  @apply m-0;
  font-family: "Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #000000; 
  color: #ffffff;      
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

.dark ::selection {
  background: #ffffff; 
  color: #000000;     
}

.dark ::-moz-selection {
  background: #ffffff;
  color: #000000;
}
